<p id="notice"><%= notice %></p>

<h1>Oauth Service Labels</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oauth_service_labels.each do |oauth_service_label| %>
      <tr>
        <td><%= link_to 'Show', oauth_service_label %></td>
        <td><%= link_to 'Edit', edit_oauth_service_label_path(oauth_service_label) %></td>
        <td><%= link_to 'Destroy', oauth_service_label, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Oauth Service Label', new_oauth_service_label_path %>
