<p id="notice"><%= notice %></p>

<h1>Applications</h1>

<table>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.name %></td>
        <td><%= application.description %></td>
        <td><%= link_to 'Show', app_path(login_name: @owner.login_name, app_name: application.name) %></td>
        <td><%= link_to 'Edit', edit_app_path(login_name: @owner.login_name, app_name: application.name) %></td>
        <td><%= link_to 'Destroy', app_path(login_name: @owner.login_name, app_name: application.name), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application', new_app_path %>
