<p id="notice"><%= notice %></p>

<h2><%= @owner.login_name %>/<%= @application.name %></h2>

<ul>
  <% @application.oauth_services.each do |service| %>
    <li><%= link_to service.name, oauth_service_path(service, login_name: @owner.login_name, app_name: @application.name) %></li>
  <% end %>
</ul>

<%= link_to 'New service', new_oauth_service_path(login_name: @owner.login_name, app_name: @application.name) %> |
<%= link_to 'Edit', edit_app_path(@application, login_name: @owner.login_name, app_name: @application.name) %> |
<%= link_to 'Back', apps_path(login_name: @owner.login_name) %>
