<p id="notice"><%= notice %></p>

<h2><%= @owner.login_name %>/<%= @application.name %></h2>

<%= link_to 'Edit', edit_app_path(@application, login_name: @owner.login_name, app_name: @application.name) %> |
<%= link_to 'Back', apps_path(login_name: @owner.login_name) %>
