<%
  url =
    if oauth_service.persisted?
      oauth_service_path(oauth_service, login_name: @owner.login_name, app_name: @application.name)
    else
      oauth_services_path(login_name: @owner.login_name, app_name: @application.name)
    end
%>
<%= form_for(oauth_service, url: url) do |f| %>
  <% if oauth_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oauth_service.errors.count, "error") %> prohibited this oauth_service from being saved:</h2>

      <ul>
      <% oauth_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :provider %>
    <%= f.select :provider, OauthService.providers.to_a %>
  </div>

  <div>
    <%= f.label :consumer_key %>
    <%= f.text_field :consumer_key %>
  </div>

  <div>
    <%= f.label :consumer_secret %>
    <%= f.text_field :consumer_secret %>
  </div>

  <div>
    <%= f.label :scope %>
    <%= f.text_field :scope %>
  </div>

  <div>
    <%= f.label :labels %>
    <%= f.collection_check_boxes :label_ids, @application.oauth_service_labels, :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
